  .favorite-cards-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

.favorites-action-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 8px;
}

.favorites-type-btn-wrapper { 
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.card-add-new-favorite-wrapper {
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition:
      transform 0.15s,
      box-shadow 0.15s;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
      align-items: center;
  }
  
  .card-add-new-favorite-wrapper:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
    z-index: 1;
  }
  
  .card-add-favorite-label {
    color: var(--color-primary);
    font-size: 16px;
    margin-top: 4px;
  }

  .favorites-list-wrapper {
    display: block;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition:
      transform 0.15s,
      box-shadow 0.15s;
  }

  .favorites-list-wrapper:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.16);
  }

  .favorites-list {
    list-style: none; 
    padding: 0;
  }

  .favorites-list-item {
    margin-bottom: 0.5rem;
  }

  .favorite-type-modal-form {
    display: flex; 
    flex-direction: column; 
    gap: 1rem;
  }
